[submodule "harrypotter"]
	path = harrypotter
	url = ./harrypotter
	datalad-id = e7c71cca-4d8e-4bd1-b8c7-5fe43e44c1b9
[submodule "hcptrt"]
	path = hcptrt
	url = ./hcptrt
	datalad-id = 167b1afc-ab5f-473b-932b-7e7a28c37dc3
[submodule "movie10"]
	path = movie10
	url = ./movie10
	datalad-id = 3f0351b0-6d9f-4d05-841e-040cbe830bc7
[submodule "friends"]
	path = friends
	url = ./friends
	datalad-id = cbfd6482-5670-4f39-ba1b-9623f1f460b8
[submodule "shinobi"]
	path = shinobi
	url = ./shinobi
	datalad-id = 99a5a823-59ed-4f4e-9fbd-971bb5e7d1d5
